body {
    background-color: #eee;
}

.container {
    width: 60%;
}

.postStatus, .statusContainer {
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 4px;
}

.status {
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
}

h3 {
    margin-top: 0;
}

.commentName {
    color: #337ab7;
    font-weight: bold;
}

textarea {
    width: 100%;
}

#postStatusBtn {
    text-align: right;
}